# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
__MACOSX/

# Windows
Thumbs.db
Desktop.ini

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.npm/

# Editor / IDE
.vscode/
.idea/
*.swp

# Logs & temp
*.log
tmp/
